*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #262626;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  z-index: 10;
}

a {
  text-decoration: none;
  color: #000000;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  transition: all .5s;
}

.container {
  max-width: 1336px;
  padding: 0 20px;
  margin: 0 auto;
}

.home {
  background-color: #fbfbfb;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.logo{
  margin-top: 27px;;
  display: flex;
  /* transition: all 0.5s;
  cursor: pointer; */
}

.logo-img{
  height: 61px;
  width: 61px;
  /* transition: all .5s ease-in-out; */
}

/* .logo:hover{
  color: #58a0a3;
} */


/* .logo:hover .logo-img{
  transform: rotate(360deg);
} */

.logo-text{
  font-family: "Inconsolata", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 29px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  min-width: 587px;
  margin-top: 33px;
  font-size: 24px;
  line-height: 36px;
}

.menu-link {
  transition: all 0.5s;
}

.menu-link:hover {
  color: #58a0a3;
}

.contact-link {
  margin-top: 28px;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
  background-color: #58a0a3;
  border-radius: 5px;
  max-height: 50px;
}

.home__info {
  margin-top: 193px;
  font-weight: 500;
  font-size: 96px;
  line-height: 144px;
  position: relative;
}

.home__info {
  padding: 10px;
}

.home__info span {
  color: #58a0a3;
  font-style: italic;
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
}

.home-text-2 {
  text-align: right;
}

.home-text-3 {
  text-align: center;
}

.home__bg-el-1 {
  position: absolute;
  top: -100px;
  right: 20px;
  z-index: -10;
}

.home__bg-el-2 {
  bottom: 70px;
  left: -50px;
  position: absolute;
  z-index: -10;
}

.home__img-block {
  display: flex;
  justify-content: space-between;
}

.home__bg-el-3 {
  height: 100%;
}

.home__bg-el-4 {
  padding-top: 50px;
}

.line-wrapper {
  overflow: hidden;
  text-align: center;
  background-color: #fbfbfb;
}

.whoweare {
  padding-bottom: 108px;
  background-color: #fbfbfb;
}

.block-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  position: relative;
  z-index: 10;
}

.block-title span {
  color: #fbfbfb;
  text-shadow: 1px 0 1px #cccccc, 0 1px 1px #cccccc, -1px 0 1px #cccccc,
    0 -1px 1px #cccccc;
  position: absolute;
  bottom: -20px;
  left: 30px;
  z-index: -1;
}

.whoweare__info {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}

.whoweare__info-block {
  max-width: 526px;
}

.whoweare__info-text {
  margin-bottom: 18px;
}

.whoweare__info-text span {
  font-weight: 700;
}

.whoweare__info-list {
  margin-top: 15px;
  list-style-position: inside;
  line-height: 35.2px;
}

.whoweare__info-list-item {
  padding-left: 10px;
}

.whoweare__features {
  margin-top: 193px;
  max-width: 746px;
  position: relative;
}

.whoweare__features-item {
  margin-bottom: 51px;
}

.whoweare__features-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

.whoweare__features-text {
  margin-top: 10px;
}

.whoweare__features-text span {
  font-weight: 700;
}

.gotaproject-link {
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.gotaproject-link svg {
  margin-left: 50px;
  transition: all 0.5s ease-in-out;
  width: 100px;
}

.gotaproject-link:hover svg {
  margin-left: 70px;
}

.whoweare__bg-el-1 {
  position: absolute;
  z-index: -10;
  bottom: 380px;
  right: -490px;
}

.whatwedo {
  padding: 64px 0 76px 0;
}

.whatwedo-title {
  margin-left: 80px;
  line-height: 50px;
  position: relative;
}

.whatwedo-decor-el {
  position: absolute;
  top: -70px;
  left: 180px;
}

.whatwedo__panel {
  margin-top: 50px;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

.whatwedo__panel-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.whatwedo__panel-item {
  width: 416px;
  height: 241px;
  background-color: #efefef;
  padding: 22px 33px 33px 22px;
  position: relative;
}

.whatwedo__panel-item-text {
  max-width: 230px;
}

.whatwedo__panel-item-img {
  position: absolute;
  bottom: 25px;
  right: 30px;
}

.whatwedo__panel-item-img-extra {
  position: absolute;
  bottom: -20px;
  right: -20px;
}

.whatwedo-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.howwedo {
  padding: 94px 0 149px 0;
  background-color: #fbfbfb;
}

.howwedo-text {
  margin-top: 33px;
  position: relative;
  max-width: 855px;
}

.howwedo-bg-el-1 {
  position: absolute;
  right: -440px;
  top: -70px;
}

.howwedo__panel {
  margin-top: 87px;
}

.howwedo__panel-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 99px;
}

.howwedo__panel-item {
  max-width: 416px;
}

.howwedo__panel-item-title {
  color: #325058;
  margin-top: 20px;
  font-weight: 600;
  font-size: 30px;
  line-height: 42px;
}

.howwedo__panel-item-text {
  line-height: 28px;
  height: 56px;
}

.howwedo__panel-item__tags {
  margin-top: 12px;
  max-width: 416px;
}

.howwedo__panel-item__tags-row {
  display: flex;
  margin-bottom: 12px;
}

.howwedo__panel-item__tags-item {
  color: #58a0a3;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 8px 16px;
  border: 1px solid #58a0a3;
  border-radius: 43px;
  margin-right: 12px;
  white-space: nowrap;
}

.portfolio {
  padding: 83px 0;
}

.portfolio .block-title {
  position: relative;
}

.portfolio-decor-el-1 {
  position: absolute;
  bottom: 0;
  left: 340px;
}

.portfolio__slider {
  margin-top: 20px;
  position: relative;
}

.portfolio__slider-item-inner {
  display: flex;
  justify-content: space-between;
  max-height: 409px;
}

.portfolio__slider-item-info {
  max-width: 508px;
}

.portfolio__slider-item-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}

.portfolio__slider-item-text {
  height: 273px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  padding-top: 5px;
}

.portfolio__slider-item-num {
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  max-width: 100px;
  background-color: #ffffff;
}

.portfolio__slider .slick-prev {
  display: none;
}

.portfolio__slider .slick-next {
  position: absolute;
  bottom: 17px;
  left: 220px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.contact {
  padding: 66px 0 129px 0;
  background-image: url("../images/contact/contact-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.contact-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  color: #58a0a3;
}

.contact__inner {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.contact-subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #58a0a3;
}

.contact__info-links {
  margin-top: 12px;
}

.contact__form-wrapper {
  max-width: 746px;
}

.form-subtitle {
  max-width: 526px;
}

.contact__form {
  margin-top: 11px;
}

.contact__form-input-title {
  font-weight: 500;
  margin-top: 20px;
}

.contact__form-input {
  width: 100%;
  background-color: transparent;
  border-radius: 6px;
}

.contact__input-text {
  color: #262626;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid #757575;
  padding: 13px 0 13px 12px;
}

.contact__input-text::placeholder {
  color: #757575;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.contact__form-text {
  margin-top: 22px;
  text-align: center;
}

.contact__input-file {
  cursor: pointer;
  margin-top: 13px;
}

.contact__input-file {
  margin-top: 13px;
}

.contact__input-file input[type="file"] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  width: 100%;
}

.contact__input-file-label {
  border: 2px dashed #757575;
  border-radius: 4px;
  display: block;
  padding: 50px 0 30px 0;
  transition: border 300ms ease;
  cursor: pointer;
  text-align: center;
  line-height: 0;
}

.contact__input-file-text {
  color: #757575;
  transition: 200ms color;
}
.contact__input-file-label:hover {
  border: 2px solid #262626;
}

  .contact__input-file-label:hover
  .contact__input-file-text {
  color: #262626;
}


.contact__form-btn{
  margin-top: 44px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  background-color: #58A0A3;
  padding: 13px 127px;
  border-radius: 3px;
}